:root {
    --bgcolor: #E1D3B6;
    --navMenu: #3D5F82;
}

body {
    background-color: var(--bgcolor);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: var(--navMenu);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color: #E1D3B6;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: none;
    margin: 10px 0;
}

nav ul li.active {
    display: block;
    animation: scaleUp 0.5s ease-in-out forwards;
}

nav ul li.active a {
    pointer-events: none;
    cursor: default;
}

nav ul.show li {
    display: block;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}


/* Main Content */



@media only screen and (max-width: 600px) {
    nav a {
        font-size: 2em;
    }

    nav ul {
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--navMenu);
        display: none;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        color: white;
        padding: 10px;
        display: block;
    }

    nav ul li a:hover {
        background-color: #3D5F82;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
    }

    nav ul.show li {
        display: block;
    }

    nav ul.show li a {
        display: block;
        font-size: 2em;
    }

    nav ul.show li a:hover {
        background-color: #3D5F82;
    }


}